@import 'bootstrap/dist/css/bootstrap.min.css';

.navbar{
 background-color: #38c6f1;
}

header{
 background-image: url("https://i.ibb.co/MMr6L4G/102078004-patr-n-de-pizza-fondo-de-pizza-en-estilo-de-dibujo-ilustraci-n-vectorial.jpg");
 background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
 color: rgb(255, 255, 255);
}

.container-main{
 display: flex;
 flex-direction:row;
 margin: 30px;
 text-align: center;
 justify-content: center;
 justify-content: space-between;
}

.nav-link{
 color: white;
 font-size: 20px;
}